:host {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

mat-sidenav-container {
    flex-grow: 1;
}
mat-sidenav {
    width: 30%;
}
mat-sidenav-content {
    display: flex;
}
mat-tab-group {
    flex-grow: 1;
}
::ng-deep .mat-tab-body-wrapper {
    flex-grow: 1;
}